{% extends 'base.html.twig' %}

{% block title %}Ask a question{% endblock %}

{% block body %}

    <h1 class="text-4xl font-extrabold mb-8">Ask a question</h1>
    <div class="shadow-md w-full p-8 bg-white">
        {{ form_start(form, {'attr': {'class': 'mb-8'}}) }}
        
        {{ form_row(form.title, {'attr': {'class': 'mb-4 border p-2 w-full'}}) }}
        {{ form_row(form.content, {'attr': {'class': 'mb-4 border p-2 w-full'}}) }}
        
        {{ form_end(form) }}
        
        <button class="flex items-center rounded-lg bg-gray-900 py-3 px-8 font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-500/20 transition-all hover:shadow-lg hover:shadow-gray-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" data-ripple-light="true">
            <span class="material-symbols-outlined me-2">
                send
            </span>
            Request an answer
        </button>
    </div>

{% endblock %}
