<footer class="flex justify-center items-center w-full bg-gray-200 p-8 border-blue-gray-50 h-8">
  <p class="block text-center font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
    © {{ "now"|date("Y") }} AskSphere
  </p>
</footer>