<div class="flex flex-col items-center mr-4">
	<span class="material-symbols-outlined text-gray-600">
		arrow_drop_up
	</span>
	<p class="text-xs {{ rating > 0 ? 'text-green-500' : rating < 0 ? 'text-red-500' : '' }}">
		{{ rating }}
	</p>
	<span class="material-symbols-outlined text-gray-600">
		arrow_drop_down
	</span>

</div>
