<div class="h-[calc(100vh-8rem)] w-full max-w-[20rem] p-4 border-e-2">
<div class="mb-2 p-4 flex justify-center items-center">
    <a href="#">
        <button class="rounded-lg bg-pink-500 py-3 px-8 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" data-ripple-light="true">
            Ask a question
        </button>
    </a>
</div>
	<ul class="space-y-2">
		<li class="flex items-center">
			<span
				class="flex-shrink-0 h-5 w-5"><!-- Ajoutez ici l'icône PresentationChartBar -->
			</span>
			<span class="ml-2">Dashboard</span>
		</li>
		<li class="flex items-center">
			<span
				class="flex-shrink-0 h-5 w-5"><!-- Ajoutez ici l'icône ShoppingBag -->
			</span>
			<span class="ml-2">E-Commerce</span>
		</li>
		<li class="flex items-center">
			<span
				class="flex-shrink-0 h-5 w-5"><!-- Ajoutez ici l'icône Inbox -->
			</span>
			<span class="ml-2">Inbox</span>
			<span class="ml-auto">
				<span class="inline-block rounded-full bg-blue-gray text-white text-sm px-2">
					14
				</span>
			</span>
		</li>
		<li class="flex items-center">
			<span
				class="flex-shrink-0 h-5 w-5"><!-- Ajoutez ici l'icône UserCircle -->
			</span>
			<span class="ml-2">Profile</span>
		</li>
		<li class="flex items-center">
			<span
				class="flex-shrink-0 h-5 w-5"><!-- Ajoutez ici l'icône Cog6Tooth -->
			</span>
			<span class="ml-2">Settings</span>
		</li>
		<li class="flex items-center">
			<span
				class="flex-shrink-0 h-5 w-5"><!-- Ajoutez ici l'icône Power -->
			</span>
			<span class="ml-2">Log Out</span>
		</li>
	</ul>
</div>
